doctype html
html
  head
    title App Page Title
    link(rel='stylesheet', href='css/bootstrap.min.css')
    block css
  body
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-right
            -
              list = ["Home","About"]
            each item in list
              li
                a(href=item)= item
        h3.text-muted Project Name

      block content

      include includes/footer
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
